<!--<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
        <div class="Aligner-item Aligner-item&#45;&#45;top"></div>
        <img src="assets/logo-white.png">
        <div class="Aligner-item Aligner-item&#45;&#45;bottom"></div>
    </div>
</div>-->

<ion-header>
    <ion-navbar color="primary">
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <p padding text-center *ngIf="loading">
        <ion-spinner padding></ion-spinner>
    </p>

    <ion-list *ngIf="!loading">
        <button ion-item *ngFor="let item of items" (click)="viewLesson(item.id, item.title)">
            {{ item.title }}
            <ion-note item-end class="font-size__small">{{item.wordsCount}} item(s)</ion-note>
        </button>
    </ion-list>

    <br>
</ion-content>
